<div class="row">
  <aside class="col-md-4">
    <section>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Rules</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population.</li>
            <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
            <li>Any live cell with more than three live neighbours dies, as if by overcrowding.</li>
            <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
          </ul>
          Source: <%= link_to "Wikipedia", "http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" %>
        </div>
      </div>
    </section>
    <section>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Instructions</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Click on "New Board" to get a new randomly generated 20x20 board.</li>
            <li>Click on "Step" to apply the rules to the current generation.</li>
          </ul>
        </div>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <div id="matrix_div">
      <%= render "matrix" %>
    </div>
  </div>
</div>